{# visualsimple #}
<div id="{{visualoptions.visualid}}" class="visual wallpaper">
    <div class="img-wrap fit-cover">
      <picture class="picture"  >
            <source
            class="img lazy lazyload"
            data-sizes="auto"
            data-srcset="{{visual.sizes.medium}}"
            media="(max-width: 999px)" />
           <img
            data-src="{{visual.sizes.large}}"
            class="img lazy lazyload"
            data-sizes="auto"/>
      </picture>
          

      </div>
</div>