{# contentcolumn single #}
{% import '@ponzoblocks/elements/visual.twig' as visual %}
{% import '@ponzoblocks/elements/button.twig' as button %}
{% import '@ponzoblocks/elements/textfields.twig' as textfields %}
<div class="card col c{{blocktheme.columnwidth}} pb-contentcolumn">
    <div class="cc__head">
        {{ visual.thumbnail(card, block.visualoptions.visualoptions) }}
    </div>
    <div class="cc__text box">
    {{ textfields.all(card, blocktheme) }}
    {{ button.button(card.link ) }}
    </div>
</div>