{% import "@ponzoblocks/elements/chapter.twig" as chapter %}

<section class="pb__{{name}}">
    <div class="wrap {{blocktheme.gutter}} {{blocktheme.wrap ?: 'wid--fl'}}">
        {{chapter.heading(block.heading.heading)}}
        <div class="row">
           {% block blockcontent %}
                content
            {% endblock %}
        </div>
    </div>
</section>