<ul class="nav-social">
    {% if options.facebook_url %}
    <li><a target="_blank" class="lnk litem" href="{{options.facebook_url}}"><i class="ico-i_facebook"></i></a></li>
    {% endif %}
    {% if options.twitter_url %}
    <li><a target="_blank" class="lnk litem" href="{{options.twitter_url}}"><i class="ico-i_twitter"></i></a></li>
    {% endif %}
    {% if options.instagram_url %}
    <li><a target="_blank" class="lnk litem" href="{{options.instagram_url}}"><i class="ico-insta"></i></a></li>
    {% endif %}
</ul>