{# gallery #}
{% import '@ponzoblocks/elements/visual.twig' as visual %}
{% extends "@ponzoblocks/blockwrap.twig" %}
{% block blockcontent %}

        {% for gallery in block.gallery %}
        <div class="c{{blocktheme.columnwidth}} pb-galleryitem">
                {{ visual.image(gallery, blocktheme.visual ? blocktheme.visual : block.visualoptions.visualoptions  ) }}
        </div>       
        {% endfor %}
{% endblock %}