{# banner #}
{% extends "ponzobuilder/section.twig" %}
{% block sectioncontent %}

{# loop trough visuals #}
{% set count = function('pb_countrows', fields.visuals) %}
{% set slideshowclass = "" %}
{% if count > 1 %}
    {% set slideshowclass = "slider pb-bannerheight-"~ fields.bannerheight %}
{% endif %}
<div class="banner {{slideshowclass}}">
    <div class="slide-content row">
        <div class="col col-6 order-{{fields.textposition}} ">
            <div class="box">
            {{fields.text}}
            {% set link = fields.link.linkclone %}
            {% include 'ponzobuilder/linkbutton.twig' %}
            </div>
         </div>
        {% if fields.columns == 2 %}
            <div class="col col-6">
                <div class="box">
                 {{fields.secondtext}}
                 {% set link = fields.link.linkclone %}
                </div>
            </div>
        {% endif %}
    </div>
    {% for visualrow in fields.visuals %}
    <div class="slide">
    {% set visual = function('pb_image_acf', visualrow.visual.visualclone.image) %}
    {% set visualoptions = visualrow.visualoptions.visualoptionsclone %}
    {% include 'ponzobuilder/visual.twig' %}
    </div>
    {% endfor %}
</div>
{% endblock %}

