<section class="pb__{{blockmeta.block}}">
    <div class="wrap">       
        <div class="row">
           {% block blockcontent %}
                content
            {% endblock %}
        </div>
    </div>
</section>