{# textvisual #}
{% extends "blockwrap.twig" %}
{% block blockcontent %}
    <div class="col col-6">
        <div class="box">
        {% if block.label %}
            <h5 class="pb__label">{{block.label}}</h5>
        {% endif %}
        {{block.text}}
        </div>
    </div>
    <div class="col col-6">
       {% include 'visual.twig' %}
    </div>
{% endblock %}